<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=bar-tick-align&code=PYBwLglsB2AEC8sDeAoWtJgDYFMBcq66YOAHmHrAOSAhGYNK2gf2pVqwC-ANC2MMFpCJUJEwAJwgBzcThGUqAQ1IQAzlU5FYC5QAVgEaCRnIW6sAE8Q-akoAWcgCbAA7s3WsWHFrinQ7BY7Ds5MDlKAG0qQHx3QDztQDyNQH9UwHDnVVo6eKSAXXc1WHExXyN1XAAzCmoAZgBSVX8xcWtSqgAWKuz0ACNgMG4AW1lK6vUAYxhgvQAZOTacLEpRAFccLJZSAEFFJTD_IRNzSypBoJxxYBFTAfUAoJDYUIAmAAYARkf2B8fb16eyz8fGn4BWH4ANh-AHYfgAOH4ATnSrSImiUABUIIMANaCfzqORYCTQADqEDA1gmUxmGBECyxbH8bnQcJYpjWyk26m2wl2sgAbjiFi4iHTYAz0EppBAcBsbltqdA5N09tE0ucdhZZG05CJlUR1SJCXZiX17i1qYFgmFGgA6UHQ9iwS3QwF2i3Qj6wf4W24vJ3QkFui0Q33usqusr-r2hsqNYUXWnw9noWXy2T0JXw4ic6g6rXtDV6g3lI3Zy5mm6WoGuy2NR2W_6-ysVi3_G1Oz22933ZuVv6wW4WoFA6PoQWZFgoVgAbiAA
	⚠ 请注意，该图表不是 Apache ECharts 官方示例，而是由用户代码生成的。请注意鉴别其内容。
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;
    var real = {{ real|tojson }}
    var pred = {{ pred|tojson }}
    option = {
  title:{
    text: '预测图'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    }
  },
  legend:{
    data: ['真实增长率','预测增长率']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: [2011,2012,2013,2014,2015,2016,2017,2018,2019],
      axisTick: {
        alignWithLabel: true
      }
    }
  ],
  yAxis: [
    {
      type: 'value'
    }
  ],
  series: [
    {
      name: '真实增长率',
      type: 'bar',
      barWidth: '30%',
      data: real,
      
    },
    {
      name: '预测增长率',
      type: 'bar',
      barWidth: '30%',
      data: pred,
    }
  ]

  
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>